*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

iput, button{
    appearance: none;
    background:none;
    border: none;
    outline: none;
}
.App{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
form{
    display: block;
    position: relative;

}
form:after{
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 1px;
    background-image: linear-gradient(to bottom right, #48bbe9, #FE4880);
}
form .form-inner{
    position: relative;
    display: block;
    background-color: white;
    padding: 30px;
    z-index: 2;
}
form .form-inner h2{
    color: #888;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}
form .form-inner .form-group{
    display: block;
    width: 300px;
    margin-bottom: 15px;

}
.form-inner .form-group label{
    display: block;
    color:black;
    font-size: 12px;
    margin-bottom: 5px;
    transition: 0.4s;
    text-decoration: none;

}
form .form-inner .form-group input{
    
    display: block;
    width: 100%;
    padding: 8px 15px;
    background-color: white;
    border-radius: 8px;

}
form .form-inner input[type='submit'], .welcome button{
    display: block;
    padding: 8px 15px;
    border-radius: 8px;
    background-color: turquoise;
    color: white;
}

.welcome{
    width: 100%;
    max-width: 480px;
    background-color: white;
    padding: 15px 30px;

}
.welcome h2{
    color: teal;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;


}
.welcome h2 span{
    color: tomato;
    font-weight: 700;
}
